.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------------------------- MOBILE DEVICE */
@media (max-width: 400px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* -------------------------------------------------------- MOBILE DEVICE LARGE */
@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------------------------------------------- TABLET DEVICE */
@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* -------------------------------------------------------- MONITOR */
@media (min-width: 1300px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}